<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
</head>
<body> <div class='container'>
    <div id='header'>
        ME_ve_ME Prototype v0.1
        <div id='navbar'>
            <ul id="menu">
                <li> <a href="/">Home</a> <li>
                <!--<li> <a href="/">About</a> <li>-->
                <li> <a href='/logout'>Log-out</a> <li>
            </ul>
        </div>
    </div>

    <div id='main'>  
        {% block content %}

        {% endblock %}
    </div>
<div id='footer'> Copyright (2014) Hendrik Frentrup</div>
</div></body>
</html>
