{% extends "base_out.html" %}

{% block content %}

        <hr>
        <form action="/login" method="post">
            <div>
                <input type="text" name="username" value="{{ username }}" placeholder="Your username"> {{ user_error }}
                <input type="password" name="password" placeholder="Your password"> {{ pw_error }}
                <input type="submit" value="Log In">
                Remember me!
                <input type="checkbox" checked="yes" name="remember" value="yes">
            </div>
        </form>
        <hr>
        No account yet? <a href="/signup"> Sign me up! </a>

{% endblock %}
