<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
</head>

<body>
    <hr>
    <form action="/signup" method="post">
        <div style="display: block"> 
            <input type="text" name="name" value="Enter your full name">
            <input type="text" name="email" value="Enter a valid email">
            <input type="text" name="username" value="Enter your username">
            <input type="password" name="password" value="Passord">
            <input type="password" name="repeat" value="Password">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <hr>
</body>

</html>
