<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
</head>

<body>
    <hr>
    <form action="/signup" method="post">
        <div style="display: block"> 
            <input type="text" name="name" value="{{ name }}">
            <input type="text" name="email" value="{{ email }}">
            <input type="text" name="username" value="{{ username }}">
            <input type="password" name="password" value="{{ password }}">
            <input type="password" name="repeat" value="{{ password }}">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    {{ pw_error }}
    <hr>
</body>

</html>
